WCFCashHome1.2/WCFCashHomeDesktopView/Web References/localhost/Service10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1.model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1.model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Cliente">
    <xs:sequence>
      <xs:element name="Cpf" nillable="true" type="xs:string" />
      <xs:element name="DataNascimento" nillable="true" type="xs:string" />
      <xs:element name="Email" nillable="true" type="xs:string" />
      <xs:element name="Id" type="xs:int" />
      <xs:element name="Nome" nillable="true" type="xs:string" />
      <xs:element name="Senha" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cliente" nillable="true" type="tns:Cliente" />
  <xs:complexType name="Conta">
    <xs:sequence>
      <xs:element name="EmailCliente" nillable="true" type="xs:string" />
      <xs:element name="SalarioConta" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Conta" nillable="true" type="tns:Conta" />
</xs:schema>