WCFCashHome1.3/WCFCashHomeDesktopView/Web References/localhost/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54681/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFCashHomeService.model" />
  <xs:element name="InsertClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFCashHomeService.model" minOccurs="0" name="cliente" nillable="true" type="q1:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertClientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFCashHomeService.model" minOccurs="0" name="cliente" nillable="true" type="q2:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateClientResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarClientes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFCashHomeService.model" minOccurs="0" name="cliente" nillable="true" type="q3:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFCashHomeService.model" minOccurs="0" name="ListarClientesResult" nillable="true" type="q4:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PegarClientePorEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFCashHomeService.model" minOccurs="0" name="cliente" nillable="true" type="q5:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PegarClientePorEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFCashHomeService.model" minOccurs="0" name="PegarClientePorEmailResult" nillable="true" type="q6:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertConta">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFCashHomeService.model" minOccurs="0" name="cliente" nillable="true" type="q7:Conta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertContaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertContaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>